@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1rem;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  width: inherit;
}

.flex, *.flex, * .flex, * + .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flex-cl, *.flex-cl, * .flex-cl, * + .flex-cl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center, *.flex-center, * .flex-center, * + .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-all, *.flex-center-all, * .flex-center-all, * + .flex-center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    margin: 0 auto;
    width: 55.72917vw;
  }
  #header {
    position: relative;
    height: 41.66667vw;
    background-color: #1A0029;
  }
  #header .wrapper {
    width: 67.1875vw;
  }
  #header .main_title {
    height: 2.76042vw;
    width: 21.35417vw;
    margin: auto;
    margin-left: 0;
  }
  #header .bg_world {
    position: absolute;
    width: 100%;
    opacity: .1;
  }
  #header .main_image {
    position: relative;
    top: 8.33333vw;
    width: 38.54167vw;
    height: 38.54167vw;
    border-top-left-radius: 5.20833vw;
    border-bottom-right-radius: 5.20833vw;
  }
  #header .main_image .blur_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 15.625vw;
    height: 15.625vw;
    border-top-right-radius: 3.64583vw;
    border-bottom-left-radius: 3.64583vw;
    background: #F1F1F1;
    opacity: .75;
  }
  nav {
    height: 4.16667vw;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 1;
  }
  nav .flex {
    width: 17.34375vw;
    margin: 0 auto;
  }
  nav a {
    font-family: "Proxima Nova Semibold";
    font-size: 0.9375vw;
    line-height: 4.16667vw;
    text-transform: capitalize;
    color: #F1F1F1;
  }
  nav a:hover {
    color: #C0BCB8;
  }
  .flex .flex-item:nth-child(1) {
    width: 27.08333vw;
  }
  .flex .flex-item:nth-child(2) {
    width: 33.59375vw;
  }
  p.title {
    font-family: "Proxima Nova Bold";
    font-size: 3.75vw;
    color: #1A0029;
    line-height: 5vw;
    text-transform: capitalize;
    margin-bottom: 2.08333vw;
  }
  #mission {
    margin-top: -5.20833vw;
    padding-top: 19.53125vw;
    padding-bottom: 2.60417vw;
    background: white;
  }
  #mission .text {
    font-family: "Proxima Nova Light";
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: #C0BCB8;
  }
  #mission ul {
    width: 25vw;
    margin-top: 2.08333vw;
    margin-left: 2.86458vw;
  }
  #mission ul li .text {
    position: relative;
    width: 100%;
    margin-bottom: 1.61458vw;
    font-family: "Proxima Nova Light";
    font-size: 0.9375vw;
    line-height: 1.35417vw;
    color: #707070;
  }
  #mission ul li .text::before {
    position: absolute;
    content: "";
    background: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.9375vw;
    height: 0.9375vw;
    left: -2.23958vw;
    top: 0.23438vw;
  }
  #team {
    height: 34.89583vw;
    padding-top: 12.34375vw;
    background: white;
  }
  #team .title {
    margin-bottom: 3.48958vw;
  }
  #team .flex-item {
    width: 100%;
  }
  #team .peoples {
    width: 11.19792vw;
    height: 12.86458vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .peoples:nth-child(1) {
    margin-left: 5.46875vw;
  }
  #team .peoples:nth-child(3) {
    margin-right: 5.46875vw;
  }
  #team .peoples.flex-item {
    padding: 0;
  }
  #team .peoples .for_img {
    width: 7.29167vw;
    background: #F1F1F1;
    border-radius: 2.08333vw;
  }
  #team .peoples p {
    text-align: center;
  }
  #team .peoples .name {
    font-family: "Proxima Nova Bold";
    font-size: 1.04167vw;
    line-height: 1.40625vw;
    color: #1A0029;
  }
  #team .peoples .role, #team .peoples .location {
    font-family: "Proxima Nova Light";
    font-size: 0.83333vw;
    line-height: 1.09375vw;
  }
  #team .peoples .role {
    color: #171D1A;
  }
  #team .peoples .location {
    color: #C0BCB8;
  }
  #contact {
    height: 54.16667vw;
    background: #F1F1F1;
    padding-top: 4.42708vw;
  }
  #contact p.title {
    margin-bottom: 4.58333vw;
  }
  #contact .contact-card {
    width: 27.08333vw;
    height: 17.1875vw;
    border-radius: 1.04167vw;
    background: white;
    padding: 2.60417vw 1.5625vw 2.08333vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 0.52083vw 1.04167vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 0.52083vw 1.04167vw 0 rgba(26, 0, 41, 0.15);
  }
  #contact .contact-card .contacts {
    width: 11.97917vw;
  }
  #contact .contact-card .contacts .title {
    width: 7.29167vw;
    height: 0.9375vw;
    margin-top: 0;
  }
  #contact .contact-card .contacts .country {
    margin-top: 0.57292vw;
    font-family: "Proxima Nova Light";
    font-size: 0.83333vw;
    line-height: 1.09375vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1, #contact .contact-card .contacts .adress_2, #contact .contact-card .contacts .tel, #contact .contact-card .contacts a {
    font-family: "Proxima Nova Light";
    font-size: 0.9375vw;
    line-height: 1.35417vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1 {
    font-family: "Proxima Nova Semibold";
    margin-top: 1.92708vw;
  }
  #contact .contact-card .contacts .adress_2 {
    margin-bottom: 1.25vw;
  }
  #contact .contact-card .contacts .tel {
    text-decoration: none;
  }
  #contact .contact-card .contacts a {
    text-decoration: underline;
  }
  #contact .contact-card .for_img {
    width: 8.33333vw;
    height: 7.70833vw;
    border-radius: 2.08333vw;
  }
  #contact .contact-card .for_img img {
    width: 100%;
  }
  #contact .form {
    position: relative;
    height: 29.6875vw;
    margin-top: 1.5625vw;
    border-radius: 1.04167vw;
    padding: 0 5.72917vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#1A0029), to(#1A0D3E));
    background: linear-gradient(180deg, #1A0029 0%, #1A0D3E 100%);
    -webkit-box-shadow: 0 0.52083vw 1.04167vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 0.52083vw 1.04167vw 0 rgba(26, 0, 41, 0.15);
  }
  #contact .form .flex-item:nth-child(1) {
    width: 19.27083vw;
  }
  #contact .form .flex-item:nth-child(2) {
    width: 22.13542vw;
    padding: 0;
    padding-left: 0.75521vw;
  }
  #contact .form p {
    font-family: "Proxima Nova Bold";
    font-size: 1.25vw;
    line-height: 1.77083vw;
    letter-spacing: 0.26042vw;
    color: #C0BCB8;
    margin-top: 0.78125vw;
    text-transform: uppercase;
  }
  #contact .form .silver_bg {
    height: 7.8125vw;
    width: 7.8125vw;
    background: #C0BCB8;
    padding: 0.75521vw;
  }
  #contact .form .silver_bg img {
    width: 6.33333vw;
    height: 0.8125vw;
  }
  #contact .form form {
    width: 21.35417vw;
    padding-left: 0.78125vw;
  }
  #contact .form form input, #contact .form form textarea {
    width: 100%;
    border-radius: 0.78125vw;
    margin-bottom: 1.04167vw;
    padding: 1.19792vw 1.5625vw;
    font-family: "Proxima Nova Semibold";
    font-size: 0.9375vw;
    line-height: 1.30208vw;
    color: #171D1A;
  }
  #contact .form form input::-webkit-input-placeholder, #contact .form form textarea::-webkit-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input:-ms-input-placeholder, #contact .form form textarea:-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::-ms-input-placeholder, #contact .form form textarea::-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::placeholder, #contact .form form textarea::placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input {
    height: 3.64583vw;
  }
  #contact .form form textarea {
    height: 7.29167vw;
    min-height: 7.29167vw;
    resize: vertical;
  }
  #contact .form form input[type=submit] {
    background: none;
    border: 0.15625vw #F1F1F1 solid;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  #contact .form form input[type=submit]:hover {
    background: #F1F1F1;
    color: #171D1A;
  }
  #contact .form form input[type=submit]:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  #contact .footer {
    height: 1.09375vw;
    margin-top: 4.58333vw;
  }
  #contact .footer img {
    width: 7.29167vw;
  }
  #contact .footer p {
    font-family: "Proxima Nova Light";
    font-size: 0.72917vw;
    line-height: 0.98958vw;
    color: #C0BCB8;
  }
  footer {
    height: 13.02083vw;
    background: white;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .wrapper {
    margin: 0 auto;
    width: 74.30556vw;
  }
  #header {
    position: relative;
    height: 55.55556vw;
    background-color: #1A0029;
  }
  #header .wrapper {
    width: 89.58333vw;
  }
  #header .main_title {
    height: 3.68056vw;
    width: 28.47222vw;
    margin: auto;
    margin-left: 0;
  }
  #header .bg_world {
    position: absolute;
    width: 100%;
    opacity: .1;
  }
  #header .main_image {
    position: relative;
    top: 11.11111vw;
    width: 51.38889vw;
    height: 51.38889vw;
    border-top-left-radius: 6.94444vw;
    border-bottom-right-radius: 6.94444vw;
  }
  #header .main_image .blur_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 20.83333vw;
    height: 20.83333vw;
    border-top-right-radius: 4.86111vw;
    border-bottom-left-radius: 4.86111vw;
    background: #F1F1F1;
    opacity: .75;
  }
  nav {
    height: 5.55556vw;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 1;
  }
  nav .flex {
    width: 23.125vw;
    margin: 0 auto;
  }
  nav a {
    font-family: "Proxima Nova Semibold";
    font-size: 1.25vw;
    line-height: 5.55556vw;
    text-transform: capitalize;
    color: #F1F1F1;
  }
  nav a:hover {
    color: #C0BCB8;
  }
  .flex .flex-item:nth-child(1) {
    width: 36.11111vw;
  }
  .flex .flex-item:nth-child(2) {
    width: 44.79167vw;
  }
  p.title {
    font-family: "Proxima Nova Bold";
    font-size: 5vw;
    color: #1A0029;
    line-height: 6.66667vw;
    text-transform: capitalize;
    margin-bottom: 2.77778vw;
  }
  #mission {
    height: 27.08333vw;
    padding-top: 20.83333vw;
    margin-top: -6.94444vw;
    background: white;
  }
  #mission .text {
    font-family: "Proxima Nova Light";
    font-size: 1.66667vw;
    line-height: 2.5vw;
    color: #C0BCB8;
  }
  #mission ul {
    width: 33.33333vw;
    margin-top: 2.77778vw;
    margin-left: 3.81944vw;
  }
  #mission ul li .text {
    position: relative;
    width: 100%;
    margin-bottom: 2.15278vw;
    font-family: "Proxima Nova Light";
    font-size: 1.25vw;
    line-height: 1.80556vw;
    color: #707070;
  }
  #mission ul li .text::before {
    position: absolute;
    content: "";
    background: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.25vw;
    height: 1.25vw;
    left: -2.98611vw;
    top: 0.3125vw;
  }
  #team {
    height: 46.52778vw;
    padding-top: 16.45833vw;
    background: white;
  }
  #team .title {
    margin-bottom: 4.65278vw;
  }
  #team .flex-item {
    width: 100%;
  }
  #team .peoples {
    width: 14.93056vw;
    height: 17.15278vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .peoples:nth-child(1) {
    margin-left: 7.29167vw;
  }
  #team .peoples:nth-child(3) {
    margin-right: 7.29167vw;
  }
  #team .peoples.flex-item {
    padding: 0;
  }
  #team .peoples .for_img {
    width: 9.72222vw;
    background: #F1F1F1;
    border-radius: 2.77778vw;
  }
  #team .peoples p {
    text-align: center;
  }
  #team .peoples .name {
    font-family: "Proxima Nova Bold";
    font-size: 1.38889vw;
    line-height: 1.875vw;
    color: #1A0029;
  }
  #team .peoples .role, #team .peoples .location {
    font-family: "Proxima Nova Light";
    font-size: 1.11111vw;
    line-height: 1.45833vw;
  }
  #team .peoples .role {
    color: #171D1A;
  }
  #team .peoples .location {
    color: #C0BCB8;
  }
  #contact {
    min-height: 72.22222vw;
    background: #F1F1F1;
    padding-top: 5.90278vw;
    padding-bottom: 3.81944vw;
  }
  #contact p.title {
    margin-bottom: 6.11111vw;
  }
  #contact .contact-card {
    width: 36.11111vw;
    height: 22.91667vw;
    border-radius: 1.38889vw;
    background: white;
    padding: 3.47222vw 2.08333vw 2.77778vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 0.69444vw 1.38889vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 0.69444vw 1.38889vw 0 rgba(26, 0, 41, 0.15);
  }
  #contact .contact-card .contacts {
    width: 15.97222vw;
  }
  #contact .contact-card .contacts .title {
    width: 9.72222vw;
    height: 1.25vw;
    margin-top: 0;
  }
  #contact .contact-card .contacts .country {
    margin-top: 0.76389vw;
    font-family: "Proxima Nova Light";
    font-size: 1.11111vw;
    line-height: 1.45833vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1, #contact .contact-card .contacts .adress_2, #contact .contact-card .contacts .tel, #contact .contact-card .contacts a {
    font-family: "Proxima Nova Light";
    font-size: 1.25vw;
    line-height: 1.80556vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1 {
    font-family: "Proxima Nova Semibold";
    margin-top: 2.56944vw;
  }
  #contact .contact-card .contacts .adress_2 {
    margin-bottom: 1.66667vw;
  }
  #contact .contact-card .contacts .tel {
    text-decoration: none;
  }
  #contact .contact-card .contacts a {
    text-decoration: underline;
  }
  #contact .contact-card .for_img {
    width: 11.11111vw;
    height: 10.27778vw;
    border-radius: 2.77778vw;
  }
  #contact .contact-card .for_img img {
    width: 100%;
  }
  #contact .form {
    position: relative;
    height: 39.58333vw;
    margin-top: 2.08333vw;
    border-radius: 1.38889vw;
    padding: 0 7.63889vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#1A0029), to(#1A0D3E));
    background: linear-gradient(180deg, #1A0029 0%, #1A0D3E 100%);
    -webkit-box-shadow: 0 0.69444vw 1.38889vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 0.69444vw 1.38889vw 0 rgba(26, 0, 41, 0.15);
  }
  #contact .form .flex-item:nth-child(1) {
    width: 25.69444vw;
  }
  #contact .form .flex-item:nth-child(2) {
    width: 29.51389vw;
    padding: 0;
    padding-left: 1.00694vw;
  }
  #contact .form p {
    font-family: "Proxima Nova Bold";
    font-size: 1.66667vw;
    line-height: 2.36111vw;
    letter-spacing: 0.34722vw;
    color: #C0BCB8;
    margin-top: 1.04167vw;
    text-transform: uppercase;
  }
  #contact .form .silver_bg {
    height: 10.41667vw;
    width: 10.41667vw;
    background: #C0BCB8;
    padding: 1.00694vw;
  }
  #contact .form .silver_bg img {
    width: 8.44444vw;
    height: 1.08333vw;
  }
  #contact .form form {
    width: 28.47222vw;
    padding-left: 1.04167vw;
  }
  #contact .form form input, #contact .form form textarea {
    width: 100%;
    border-radius: 1.04167vw;
    margin-bottom: 1.38889vw;
    padding: 1.59722vw 2.08333vw;
    font-family: "Proxima Nova Semibold";
    font-size: 1.25vw;
    line-height: 1.73611vw;
    color: #171D1A;
  }
  #contact .form form input::-webkit-input-placeholder, #contact .form form textarea::-webkit-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input:-ms-input-placeholder, #contact .form form textarea:-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::-ms-input-placeholder, #contact .form form textarea::-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::placeholder, #contact .form form textarea::placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input {
    height: 4.86111vw;
  }
  #contact .form form textarea {
    height: 9.72222vw;
    min-height: 9.72222vw;
    resize: vertical;
  }
  #contact .form form input[type=submit] {
    background: none;
    border: 0.20833vw #F1F1F1 solid;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  #contact .form form input[type=submit]:hover {
    background: #F1F1F1;
    color: #171D1A;
  }
  #contact .form form input[type=submit]:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  #contact .footer {
    height: 1.45833vw;
    margin-top: 6.11111vw;
  }
  #contact .footer img {
    width: 9.72222vw;
  }
  #contact .footer p {
    font-family: "Proxima Nova Light";
    font-size: 0.97222vw;
    line-height: 1.31944vw;
    color: #C0BCB8;
  }
  footer {
    height: 0vw;
    background: white;
  }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  .wrapper {
    margin: 0 auto;
    width: 83.59375vw;
  }
  #header {
    position: relative;
    height: 62.5vw;
    background-color: #1A0029;
  }
  #header .wrapper {
    width: 100.78125vw;
  }
  #header .main_title {
    height: 4.14062vw;
    width: 32.03125vw;
    margin: auto;
    margin-left: 0;
  }
  #header .bg_world {
    position: absolute;
    width: 100%;
    opacity: .1;
  }
  #header .main_image {
    position: relative;
    top: 12.5vw;
    width: 57.8125vw;
    height: 57.8125vw;
    border-top-left-radius: 7.8125vw;
    border-bottom-right-radius: 7.8125vw;
  }
  #header .main_image .blur_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 23.4375vw;
    height: 23.4375vw;
    border-top-right-radius: 5.46875vw;
    border-bottom-left-radius: 5.46875vw;
    background: #F1F1F1;
    opacity: .75;
  }
  nav {
    height: 10.9375vw;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 1;
  }
  nav .flex {
    width: 65.03906vw;
    margin: 0 auto;
  }
  nav a {
    font-family: "Proxima Nova Semibold";
    font-size: 2.46094vw;
    line-height: 10.9375vw;
    text-transform: capitalize;
    color: #F1F1F1;
  }
  nav a:hover {
    color: #C0BCB8;
  }
  .flex .flex-item:nth-child(1) {
    width: 40.625vw;
  }
  .flex .flex-item:nth-child(2) {
    width: 50.39062vw;
  }
  p.title {
    font-family: "Proxima Nova Bold";
    font-size: 5.625vw;
    color: #1A0029;
    line-height: 7.5vw;
    text-transform: capitalize;
    margin-bottom: 3.125vw;
  }
  #mission {
    min-height: 30.46875vw;
    padding-top: 15.625vw;
    background: white;
  }
  #mission .flex .flex-item:nth-child(2) {
    width: 39.0625vw;
  }
  #mission .text {
    font-family: "Proxima Nova Light";
    font-size: 3.75vw;
    line-height: 5.625vw;
    color: #C0BCB8;
  }
  #mission ul {
    width: auto;
    margin-top: 6.25vw;
    margin-left: 8.59375vw;
  }
  #mission ul li .text {
    position: relative;
    width: 100%;
    margin-bottom: 4.84375vw;
    font-family: "Proxima Nova Light";
    font-size: 2.8125vw;
    line-height: 4.0625vw;
    color: #707070;
  }
  #mission ul li .text::before {
    position: absolute;
    content: "";
    background: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.8125vw;
    height: 2.8125vw;
    left: -6.71875vw;
    top: 0.70312vw;
  }
  #team {
    min-height: 52.34375vw;
    padding-top: 18.51562vw;
    padding-bottom: 18.51562vw;
    background: white;
  }
  #team .title {
    margin-bottom: 5.23438vw;
  }
  #team .flex-item {
    width: 100%;
  }
  #team .peoples {
    width: 16.79688vw;
    min-height: 19.29688vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .peoples.flex-item {
    padding: 0;
  }
  #team .peoples .for_img {
    width: 21.875vw;
    background: #F1F1F1;
    border-radius: 6.25vw;
  }
  #team .peoples p {
    text-align: center;
  }
  #team .peoples .name {
    font-family: "Proxima Nova Bold";
    font-size: 3.125vw;
    line-height: 4.21875vw;
    color: #1A0029;
  }
  #team .peoples .role, #team .peoples .location {
    font-family: "Proxima Nova Light";
    font-size: 2.5vw;
    line-height: 3.28125vw;
  }
  #team .peoples .role {
    color: #171D1A;
  }
  #team .peoples .location {
    color: #C0BCB8;
    margin-bottom: 6.25vw;
  }
  #contact {
    height: 274.625vw;
    background: #F1F1F1;
    padding-top: 6.64062vw;
  }
  #contact p.title {
    margin-bottom: 6.875vw;
  }
  #contact .flex-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .contact-card {
    width: 81.25vw;
    height: 64.45312vw;
    margin-bottom: 3.90625vw;
    border-radius: 3.125vw;
    background: white;
    padding: 7.8125vw 4.6875vw 6.25vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
  }
  #contact .contact-card .contacts {
    width: 35.9375vw;
  }
  #contact .contact-card .contacts .title {
    width: 27.34375vw;
    height: 3.51562vw;
    margin-top: 0;
  }
  #contact .contact-card .contacts .country {
    margin-top: 2.14844vw;
    font-family: "Proxima Nova Light";
    font-size: 3.125vw;
    line-height: 4.10156vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1, #contact .contact-card .contacts .adress_2, #contact .contact-card .contacts .tel, #contact .contact-card .contacts a {
    font-family: "Proxima Nova Light";
    font-size: 3.51562vw;
    line-height: 5.07812vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1 {
    font-family: "Proxima Nova Semibold";
    margin-top: 7.22656vw;
  }
  #contact .contact-card .contacts .adress_2 {
    margin-bottom: 4.6875vw;
  }
  #contact .contact-card .contacts .tel {
    text-decoration: none;
  }
  #contact .contact-card .contacts a {
    text-decoration: underline;
  }
  #contact .contact-card .for_img {
    width: 28.125vw;
    height: 26.01563vw;
  }
  #contact .contact-card .for_img img {
    width: 100%;
  }
  #contact .form {
    position: relative;
    height: 133.59375vw;
    margin-top: 2.34375vw;
    border-radius: 1.5625vw;
    padding: 0 8.59375vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#1A0029), to(#1A0D3E));
    background: linear-gradient(180deg, #1A0029 0%, #1A0D3E 100%);
    -webkit-box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .form .flex-item:nth-child(1) {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .form .flex-item:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  #contact .form p {
    font-family: "Proxima Nova Bold";
    font-size: 3.75vw;
    line-height: 5.3125vw;
    letter-spacing: 0.78125vw;
    color: #C0BCB8;
    margin-top: 2.34375vw;
    text-transform: uppercase;
    text-align: center;
  }
  #contact .form .silver_bg {
    height: 29.29688vw;
    width: 29.29688vw;
    background: #C0BCB8;
    padding: 2.83203vw;
  }
  #contact .form .silver_bg img {
    width: 23.75vw;
    height: 3.04688vw;
  }
  #contact .form form {
    width: 80.07812vw;
    padding-left: 2.92969vw;
  }
  #contact .form form input, #contact .form form textarea {
    width: 100%;
    border-radius: 2.92969vw;
    margin-bottom: 3.90625vw;
    padding: 4.49219vw 5.85938vw;
    font-family: "Proxima Nova Semibold";
    font-size: 3.51562vw;
    line-height: 4.88281vw;
    color: #171D1A;
  }
  #contact .form form input::-webkit-input-placeholder, #contact .form form textarea::-webkit-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input:-ms-input-placeholder, #contact .form form textarea:-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::-ms-input-placeholder, #contact .form form textarea::-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::placeholder, #contact .form form textarea::placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input {
    height: 13.67188vw;
  }
  #contact .form form textarea {
    height: 27.34375vw;
    min-height: 27.34375vw;
    resize: vertical;
  }
  #contact .form form input[type=submit] {
    background: none;
    border: 0.58594vw #F1F1F1 solid;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  #contact .form form input[type=submit]:hover {
    background: #F1F1F1;
    color: #171D1A;
  }
  #contact .form form input[type=submit]:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  #contact .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.10156vw;
    margin-top: 17.1875vw;
  }
  #contact .footer img {
    width: 27.34375vw;
  }
  #contact .footer p {
    margin-top: 3.90625vw;
    font-family: "Proxima Nova Light";
    font-size: 2.73438vw;
    line-height: 3.71094vw;
    color: #C0BCB8;
  }
  footer {
    height: 27.34375vw;
    background: white;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    margin: 0 auto;
    width: 83.59375vw;
  }
  #header {
    position: relative;
    height: 62.5vw;
    background-color: #1A0029;
  }
  #header .wrapper {
    width: 100.78125vw;
  }
  #header .main_title {
    height: 3.10547vw;
    width: 24.02344vw;
    margin: auto;
    margin-left: 3.90625vw;
  }
  #header .bg_world {
    position: absolute;
    width: 100%;
    opacity: .1;
  }
  #header .main_image {
    position: relative;
    top: 12.5vw;
    left: -1.64062vw;
    width: 57.8125vw;
    height: 57.8125vw;
    border-top-left-radius: 7.8125vw;
    border-bottom-right-radius: 7.8125vw;
  }
  #header .main_image .blur_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 23.4375vw;
    height: 23.4375vw;
    border-top-right-radius: 5.46875vw;
    border-bottom-left-radius: 5.46875vw;
    background: #F1F1F1;
    opacity: .75;
  }
  nav {
    height: 6.25vw;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 1;
  }
  nav .flex {
    width: 78.125vw;
    margin: 0 auto;
  }
  nav a {
    font-family: "Proxima Nova Semibold";
    font-size: 3.51562vw;
    line-height: 12.5vw;
    text-transform: capitalize;
    color: #F1F1F1;
  }
  nav a:hover {
    color: #C0BCB8;
  }
  .flex .flex-item:nth-child(1) {
    width: 100%;
  }
  .flex .flex-item:nth-child(2) {
    width: 100%;
  }
  p.title {
    font-family: "Proxima Nova Bold";
    font-size: 8.4375vw;
    color: #1A0029;
    line-height: 11.25vw;
    text-transform: capitalize;
    margin-bottom: 9.375vw;
  }
  #mission {
    min-height: 30.46875vw;
    padding-top: 31.25vw;
    background: white;
  }
  #mission .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mission .text {
    font-family: "Proxima Nova Light";
    font-size: 4.6875vw;
    line-height: 7.03125vw;
    color: #C0BCB8;
  }
  #mission ul {
    width: 75vw;
    margin-top: 9.375vw;
    margin-left: 12.89062vw;
  }
  #mission ul li .text {
    position: relative;
    width: 100%;
    margin-bottom: 9.6875vw;
    font-family: "Proxima Nova Light";
    font-size: 4.21875vw;
    line-height: 6.09375vw;
    color: #707070;
  }
  #mission ul li .text::before {
    position: absolute;
    content: "";
    background: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5.625vw;
    height: 5.625vw;
    left: -11.71875vw;
    top: 0.70312vw;
  }
  #team {
    min-height: 52.34375vw;
    margin-top: 18.51562vw;
    background: white;
  }
  #team .title {
    margin-bottom: 5.23438vw;
  }
  #team .flex-item {
    width: 100%;
  }
  #team .flex-item.flex-cl {
    min-height: 100vh;
  }
  #team .flex-item .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .peoples {
    width: 100%;
    min-height: 57.89062vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .peoples.flex-item {
    padding: 0;
  }
  #team .peoples .for_img {
    width: 32.8125vw;
    background: #F1F1F1;
    border-radius: 9.375vw;
  }
  #team .peoples p {
    text-align: center;
  }
  #team .peoples .name {
    font-family: "Proxima Nova Bold";
    font-size: 4.6875vw;
    line-height: 6.32813vw;
    color: #1A0029;
  }
  #team .peoples .role, #team .peoples .location {
    font-family: "Proxima Nova Light";
    font-size: 3.75vw;
    line-height: 4.92188vw;
  }
  #team .peoples .role {
    color: #171D1A;
  }
  #team .peoples .location {
    color: #C0BCB8;
  }
  #contact {
    height: 277.875vw;
    background: #F1F1F1;
    padding-top: 6.64062vw;
  }
  #contact .flex-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact p.title {
    margin-bottom: 6.875vw;
  }
  #contact .contact-card {
    width: 81.25vw;
    min-height: 64.45312vw;
    margin-bottom: 3.90625vw;
    border-radius: 3.125vw;
    background: white;
    padding: 7.8125vw 4.6875vw 6.25vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
  }
  #contact .contact-card .contacts {
    width: 35.9375vw;
  }
  #contact .contact-card .contacts .title {
    width: 27.34375vw;
    height: 3.51562vw;
    margin-top: 0;
  }
  #contact .contact-card .contacts .country {
    margin-top: 2.14844vw;
    font-family: "Proxima Nova Light";
    font-size: 3.125vw;
    line-height: 4.10156vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1, #contact .contact-card .contacts .adress_2, #contact .contact-card .contacts .tel, #contact .contact-card .contacts a {
    font-family: "Proxima Nova Light";
    font-size: 3.51562vw;
    line-height: 5.07812vw;
    color: #171D1A;
  }
  #contact .contact-card .contacts .adress_1 {
    font-family: "Proxima Nova Semibold";
    margin-top: 7.22656vw;
  }
  #contact .contact-card .contacts .adress_2 {
    margin-bottom: 4.6875vw;
  }
  #contact .contact-card .contacts .tel {
    text-decoration: none;
  }
  #contact .contact-card .contacts a {
    text-decoration: underline;
  }
  #contact .contact-card .for_img {
    width: 28.125vw;
    height: 26.01563vw;
  }
  #contact .contact-card .for_img img {
    width: 100%;
  }
  #contact .form {
    position: relative;
    height: 133.59375vw;
    margin-top: 2.34375vw;
    border-radius: 1.5625vw;
    padding: 0 8.59375vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#1A0029), to(#1A0D3E));
    background: linear-gradient(180deg, #1A0029 0%, #1A0D3E 100%);
    -webkit-box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
            box-shadow: 0 1.5625vw 3.125vw 0 rgba(26, 0, 41, 0.15);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .form .flex-item:nth-child(1) {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact .form .flex-item:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  #contact .form p {
    font-family: "Proxima Nova Bold";
    font-size: 4.6875vw;
    line-height: 6.64062vw;
    letter-spacing: 0.97656vw;
    color: #C0BCB8;
    margin-top: 2.92969vw;
    text-transform: uppercase;
    text-align: center;
  }
  #contact .form .silver_bg {
    height: 29.29688vw;
    width: 29.29688vw;
    background: #C0BCB8;
    padding: 2.83203vw;
  }
  #contact .form .silver_bg img {
    width: 23.75vw;
    height: 3.04688vw;
  }
  #contact .form form {
    width: 80.07812vw;
    padding-left: 2.92969vw;
  }
  #contact .form form input, #contact .form form textarea {
    width: 100%;
    border-radius: 2.92969vw;
    margin-bottom: 3.90625vw;
    padding: 4.49219vw 5.85938vw;
    font-family: "Proxima Nova Semibold";
    font-size: 4.21875vw;
    line-height: 5.85938vw;
    color: #171D1A;
  }
  #contact .form form input::-webkit-input-placeholder, #contact .form form textarea::-webkit-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input:-ms-input-placeholder, #contact .form form textarea:-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::-ms-input-placeholder, #contact .form form textarea::-ms-input-placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input::placeholder, #contact .form form textarea::placeholder {
    color: #C0BCB8;
    text-transform: capitalize;
  }
  #contact .form form input {
    height: 13.67188vw;
  }
  #contact .form form textarea {
    height: 27.34375vw;
    min-height: 27.34375vw;
    resize: vertical;
  }
  #contact .form form input[type=submit] {
    background: none;
    border: 0.58594vw #F1F1F1 solid;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  #contact .form form input[type=submit]:hover {
    background: #F1F1F1;
    color: #171D1A;
  }
  #contact .form form input[type=submit]:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  #contact .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.92188vw;
    margin-top: 20.625vw;
  }
  #contact .footer img {
    width: 32.8125vw;
  }
  #contact .footer p {
    margin-top: 4.6875vw;
    font-family: "Proxima Nova Light";
    font-size: 3.28125vw;
    line-height: 4.45312vw;
    color: #C0BCB8;
  }
  footer {
    height: 0vw;
    background: white;
  }
}
