@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
	src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNova-Bold.woff') format('woff');
	src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/ProximaNova-Light.woff') format('woff');
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
