@import "proxima_nova";
@import "reset";

$violet: #1A0029;
$silver: #C0BCB8;
$black: #171D1A;
$white: #F1F1F1;
$normal: #707070;

$width: 1920;

$light: 'Proxima Nova Light';
$semibold: 'Proxima Nova Semibold';
$bold: 'Proxima Nova Bold';
 

* {
    box-sizing: border-box;
    transition: .4s ease-in-out;
}

body {
    position: relative;
}

section {
    width: 100vw;
    height: 100%;
}

.wrapper {
    width: 1290/$width*100vw;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: initial;
}

img {
    width: inherit;
}

.flex, *.flex, * .flex, * + .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#header {
    position: relative;
    height: 800/$width*100vw;
    background-color: $violet;
    margin-bottom: 200/$width*100vw;
    .main_title {
        height: 53/$width*100vw;
        width: 410/$width*100vw;
        margin: auto;
    }
    .bg_world {
        position: absolute;
        width: 100%;
        opacity: .1;
    }
    .main_image {
        position: relative;
        top: 160/$width*100vw;
        width: 740/$width*100vw;
        height: 740/$width*100vw;
        border-top-left-radius: 100/$width*100vw;
        border-bottom-right-radius: 100/$width*100vw;
        .blur_bg {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-50%);
            width: 300/$width*100vw;
            height: 300/$width*100vw;
            border-top-right-radius: 70/$width*100vw;
            border-bottom-left-radius: 70/$width*100vw;
            background: $white;
            opacity: .75;
        }
    }
}

nav {
    height: 80/$width*100vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    .flex {
        width: 333px;
        margin: 0 auto;
    }
    a {
        font-family: $semibold;
        font-size: 18/$width*100vw;
        line-height: 80/$width*100vw;
        text-transform: capitalize;
        color: $white;
        &:hover {
            color: $silver;
        }
    }
}

.flex .flex-item {
    &:nth-child(1) {
        width: 520/$width*100vw;
        padding-left: 110/$width*100vw;
    }
    &:nth-child(2) {
        width: 645/$width*100vw;
        padding-right: 110/$width*100vw;
    }
}

p.title {
    font-family: $bold;
    font-size: 72/$width*100vw;
    color: $violet;
    line-height: 96/$width*100vw;
    text-transform: capitalize;
    margin-bottom: 40/$width*100vw;
}

#mission {
    height: 390/$width*100vw;
    .text {
        font-family: $light;
        font-size: 24/$width*100vw;
        line-height: 36/$width*100vw;
        color: $silver;
    }
    ul {
        width: 480/$width*100vw;
        margin-top: 40/$width*100vw;;
        margin-left: 55/$width*100vw;
        li {
            .text {
                position: relative;
                width: 100%;
                margin-bottom: 31/$width*100vw;
                font-family: $light;
                font-size: 18/$width*100vw;
                line-height: 26/$width*100vw;
                color: $normal;
                &::before {
                    position: absolute;
                    content: url(../images/check.svg);
                    width: 18/$width*100vw;
                    height: 18/$width*100vw;
                    left: -43/$width*100vw;
                }
            }
        }
    }
}
